body {
  background-color: #bfd1e5;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

a {
  color: #a06851;
}

/* navbar */
.navbar {
  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
}